<p>crud-ops works!</p> enter data
<form (submit)="postProdData(productData.value)" [formGroup]="productData">
    <div class="form-group">
        <input type="text" classs="form-Control" formControlName="title" name="" id="">
    </div>
    <div class="form-group">
        <input type="text" classs="form-Control" formControlName="author" name="" id=""></div>

    <button type="submit">send data</button>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>title</th>
                <th>author</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of recdData">
                <td scope="row">{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.author}}</td>
                <td><button (click)="deleteid(item.id)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</form>
<button (click)="getProdData()">getdata</button>
