<p>output works!</p>

<div class="form-group col-3">
    <label for="principle">principle</label>
    <input [(ngModel)]="principle" type="text" class="form-control" name="principle" id="principle" aria-describedby="helpId" placeholder="">
</div>

<div class="form-group col-3">
    <label for="rate">rate</label>
    <input [(ngModel)]="rate" type="text" class="form-control" name="rate" id="rate" aria-describedby="helpId" placeholder="">
</div>

<div class="form-group col-3">
    <label for="terms">terms</label>
    <input [(ngModel)]="terms" type="text" class="form-control" name="terms" id="terms" aria-describedby="helpId" placeholder="">
</div>




<h1>{{terms}} | {{rate}} | {{principle}} </h1>